body {
    background: beige;
}

.perfil .photo {
    border-radius: 50%;
    width: 150px;
    right: 150px;
    padding: 3px;
}
.perfil {
    text-align: left;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 3%;
    align-items: left;
}
/*h4 {
    text-align: left;
    
}*/

.corpo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
@media (min-width: 768px){
    .corpo{
        flex-direction: row;
        justify-content: center;
    }
}

.conteudo {
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
}

.conteudo p {
    font-size: 16px;
    padding-left: 10px;
}

.conteudo img {
    width: 100%;
    
}
/*.imagem {
    width: 600px;
      padding: 10px;
      background: #fff;
      margin: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      float: left;
}
.texto {
      width: 600px;
      padding: 10px;
      background: #fff;
      margin: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      float: left;
}*/